.odin-recipe {
    text-align: center;
    font-size: 75px;
    font-family: Arial, sans-serif;
    background-color:rgb(0,0,0);
    color:rgb(255,255,255)
}

.bullet-list-1 {
    text-align: center;
}

.description-style {
    background-color: black;
    color: rgb(255,255,255)
}

.ingredient-style {
    background-color: black;
    color: rgb(255,255,255)
}

.step-style {
    background-color: black;
    color: rgb(255,255,255)
}

div {
    text-align: center;
}